experiencie-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:bright-mart-experience-api="http://www.mulesoft.org/schema/mule/bright-mart-experience-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/bright-mart-experience-api http://www.mulesoft.org/schema/mule/bright-mart-experience-api/current/mule-bright-mart-experience-api.xsd">
    
    <flow name="experiencie-api-brigthmart-main">
        <http:listener config-ref="experiencie-api-brightmart-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="experiencie-api-brigthmart-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="400 - BAD REQUEST">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 400,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="404 - NOT FOUND">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 404,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="405 - METHOD NOT ALLOWED">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 405,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="406 - NOT ACCEPTABLE">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 406,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="415 - UNSUPPORTED MEDIA TYPE">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 415,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="501 - NOT IMPLEMENTED">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 501,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="experiencie-api-brigthmart-console">
        <http:listener config-ref="experiencie-api-brightmart-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="experiencie-api-brigthmart-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="404 - NOT FOUND">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 404,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="get:\customers:experiencie-api-brigthmart-config">
		<bright-mart-experience-api:get-customers doc:name="Invoke Process API - Get Customers" doc:id="5cd326f1-a71f-42e9-bf0b-8e99d0e0b1d9" config-ref="BrightMart_Experience_API_Config" x-customers-source='"system-salesforce-api"'/>
		<ee:transform doc:name="Transform Message" doc:id="fe461f2a-8e6f-4292-b59b-d030826c0a24" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			
	</flow>
    <flow name="post:\customers:application\json:experiencie-api-brigthmart-config">
		<set-variable value="#[payload]" doc:name="Save Incoming Request" doc:id="90a9b57e-c3ef-40d6-b48e-b24079525a4c" variableName="req"/>
		<bright-mart-experience-api:create-customer doc:name="Create customer" doc:id="6adfb6a2-892a-4dad-893b-bf8e9a67edf7" config-ref="BrightMart_Experience_API_Config">
			<bright-mart-experience-api:create-customer-request-data ><![CDATA[#[{
            id: vars.req.id,
            firstName: vars.req.firstName,
            lastName: vars.req.lastName,
            email: vars.req.email,
            phone: vars.req.phone,
            birthDate: vars.req.birthDate,
            city: vars.req.city,
            state: vars.req.state,
            country: vars.req.country
        }]]]></bright-mart-experience-api:create-customer-request-data>
		</bright-mart-experience-api:create-customer>
		<ee:transform doc:name="Transform Message" doc:id="a872e337-b735-4fb2-81e9-6496b80ff5d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Customer created successfully",
    dbStatus: payload.dbStatus,
    salesforceStatus: payload.salesforceStatus,
    dbId: payload.dbId,
    salesforceId: payload.salesforceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
