.tooling-apps-cache/app/experiencie-api-brightmart/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:bright-mart-process-api="http://www.mulesoft.org/schema/mule/bright-mart-process-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/bright-mart-process-api http://www.mulesoft.org/schema/mule/bright-mart-process-api/current/mule-bright-mart-process-api.xsd">
    <flow name="experiencie-api-brightmart-main">
        <http:listener config-ref="experiencie-api-brightmart-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="experiencie-api-brightmart-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="400 - BAD REQUEST">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 400,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="404 - NOT FOUND">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 404,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="405 - METHOD NOT ALLOWED">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 405,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="406 - NOT ACCEPTABLE">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 406,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="415 - UNSUPPORTED MEDIA TYPE">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 415,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="501 - NOT IMPLEMENTED">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 501,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="experiencie-api-brightmart-console">
        <http:listener config-ref="experiencie-api-brightmart-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="experiencie-api-brightmart-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="404 - NOT FOUND">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "code": 404,
    "message": error.description default null,
    "x-correlation-id": correlationId,
    "timestamp": ((now() >> "UTC") as DateTime as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}),
    "details": error.detailedDescription default null
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\customers:experiencie-api-brightmart-config">
        <bright-mart-process-api:get-customers doc:name="Invoke Process API - Get Customers" doc:id="8a590eb3-16aa-461f-ada1-65758acf5bc0" config-ref="BrightMart_Process_API_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="f1714776-d291-4208-a8af-9cf8700341f2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\customers:application\json:experiencie-api-brightmart-config">
    	<!-- 1. Guardamos el request en una variable -->
		<set-variable value="#[payload]" doc:name="Save Incoming Request" doc:id="9404b527-bdb7-42fe-aee8-6464ae649eff" variableName="req"/>
		<!-- 2. Invocamos al Process API con el conector -->
		<bright-mart-process-api:create-customer doc:name="Create customer" doc:id="a4f4c654-00fc-4674-baad-e19c43d65b01" config-ref="BrightMart_Process_API_Config">
			<bright-mart-process-api:create-customer-request-data ><![CDATA[#[{
            id: vars.req.id,
            firstName: vars.req.firstName,
            lastName: vars.req.lastName,
            email: vars.req.email,
            phone: vars.req.phone,
            birthDate: vars.req.birthDate,
            city: vars.req.city,
            state: vars.req.state,
            country: vars.req.country
        }]]]></bright-mart-process-api:create-customer-request-data>
		</bright-mart-process-api:create-customer>
		 <!-- 3. Transformamos la respuesta para el canal Experience -->
		<ee:transform doc:name="Transform Message" doc:id="c4e052ee-8a17-42b0-8600-b4da0177c40f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    message: "Customer created successfully",
    dbStatus: payload.dbStatus,
    salesforceStatus: payload.salesforceStatus,
    dbId: payload.dbId,
    salesforceId: payload.salesforceId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		 
    </flow>
</mule>
